<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%= urlRoot %>/image/logo.ico" />
    <link rel="stylesheet" href="<%= urlRoot %>/library/mdc.min.css" />
    <link rel="stylesheet" href="<%= urlRoot %>/library/mdc_icon_family.css" />
    <link rel="stylesheet" href="<%= urlRoot %>/style/main.css" />
    <title>
        <%= name %>
    </title>
</head>

<body>
    <div id="jsmvcfw_app"></div>
    <script src="<%= urlRoot %>/js/main.js"></script>
</body>

</html>
