<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%= urlRoot %>/asset/image/favicon.ico?nocache=<%= dateNow %>" />
    <link rel="stylesheet" href="<%= urlRoot %>/asset/library/mdc.min.css?nocache=<%= dateNow %>" />
    <link rel="stylesheet" href="<%= urlRoot %>/asset/library/mdc_icon_family.css?nocache=<%= dateNow %>" />
    <link rel="stylesheet" href="<%= urlRoot %>/asset/style/main.css?nocache=<%= dateNow %>" />
    <title>
        <%= name %>
    </title>
</head>

<body>
    <div id="jsmvcfw_app"></div>
    <script src="<%= urlRoot %>/asset/js/main.js?nocache=<%= dateNow %>"></script>
</body>

</html>
