$screenMobile: 1039px;
$screenDesktop: 1040px;

$heightHeader: 50px;
$heightBreadcrumb: 30px;

$widthSidebar: 200px;

$zIndexField: 1;
$zIndexTooltip: 2;
$zIndexSidebar: 100;
$zIndexHeader: 101;
$zIndexLoader: 102;
$zIndexAlert: 103;

$fontSizeNormal: 18px;
$fontSizeNormalPlus: 24px;
$fontSizeMedium: 30px;
$fontSizeBig: 40px;
$fontSizeVeryBig: 50px;
