*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  user-select: auto;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

@font-face {
  font-family: "roboto-regular";
  font-weight: 100;
  font-style: normal;
  src: url("../font/roboto-regular.ttf") format("truetype"), url("../font/roboto-regular.woff") format("woff"), url("../font/roboto-regular.woff2") format("woff2");
}
body *:not(.material-icons) {
  font-family: "roboto-regular" !important;
  font-size: 14px !important;
  line-height: 1.25 !important;
}

.page_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page_container .header {
  height: 50px;
}
.page_container .left {
  width: 30%;
  height: 100%;
  float: left;
}
.page_container .right {
  width: 70%;
  height: 100%;
  float: left;
}
.page_container .right::after {
  content: "";
  clear: both;
  display: block;
}

.mdc-text-field,
.mdc-select__anchor {
  margin: 5px 0 !important;
  height: 40px !important;
  text-align: left !important;
}
.mdc-text-field .mdc-floating-label--float-above,
.mdc-select__anchor .mdc-floating-label--float-above {
  top: 75% !important;
}

button :not(:disabled) {
  cursor: pointer;
  text-align: center;
}

.mdc-touch-target-wrapper {
  display: inline-block !important;
  margin: 0 10px !important;
  height: 40px !important;
}

.button_primary {
  color: #ffffff !important;
  background-color: #00338d !important;
}
.button_primary:hover {
  background-color: #0091da !important;
}
.button_primary:disabled {
  color: #333333 !important;
  background-color: #999999 !important;
}

form .field_container {
  display: block;
}
form .button_container {
  display: block;
  text-align: center;
}

.mdc-data-table {
  display: block !important;
  margin: 10px 20px !important;
}
.mdc-data-table .mdc-data-table__table-container {
  overflow-x: revert !important;
}
.mdc-data-table .mdc-data-table__table-container table {
  white-space: revert !important;
}
.mdc-data-table .mdc-data-table__table-container table .mdc-data-table__header-cell,
.mdc-data-table .mdc-data-table__table-container table .mdc-data-table__cell {
  overflow: revert !important;
  vertical-align: middle;
  text-align: left;
  padding: 10px !important;
}

.alert .text_wrap {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert button span {
  color: #ffffff;
}
.alert.success .mdc-snackbar__surface {
  background-color: #43b02a !important;
}
.alert.error .mdc-snackbar__surface {
  background-color: #bc204b !important;
}

.view_index {
  text-align: center;
}
.view_index .icon_action {
  display: none;
}
.view_index .left {
  width: 100%;
}
.view_index .left .table_list {
  width: 50% !important;
  display: inline-block !important;
  vertical-align: top;
}
.view_index .left .table_list .column_id {
  width: 1%;
}
.view_index .left .table_list .column_title {
  width: 19%;
}
.view_index .left .table_list .column_action {
  width: 30%;
}
.view_index .left .table_list tbody .column_action {
  text-align: center !important;
}
.view_index .left .table_side {
  display: inline-block !important;
}
.view_index .left .table_side tbody td {
  text-align: center !important;
}
.view_index .left .table_side tbody td video {
  width: 400px;
  height: 200px;
  display: block;
  margin: 10px auto;
}
@media screen and (max-width: 1039px) {
  .view_index .left .table_list {
    width: revert !important;
  }
  .view_index .left .table_side {
    display: block !important;
  }
}
.view_index .right {
  width: 0;
}

/*# sourceMappingURL=main.css.map */
