*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  user-select: auto;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

@font-face {
  font-family: "roboto-regular";
  font-weight: 100;
  font-style: normal;
  src: url("../font/roboto-regular.ttf") format("truetype"), url("../font/roboto-regular.woff") format("woff"), url("../font/roboto-regular.woff2") format("woff2");
}
body *:not(.material-icons) {
  font-family: "roboto-regular" !important;
  font-size: 14px !important;
  line-height: 1.25 !important;
}

.page_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page_container .header {
  background: red;
}
.page_container .left {
  width: 30%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: blue;
}
.page_container .right {
  width: 70%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: green;
}

.mdc-text-field,
.mdc-select__anchor {
  margin: 5px 0 !important;
  height: 40px !important;
}
.mdc-text-field .mdc-floating-label--float-above,
.mdc-select__anchor .mdc-floating-label--float-above {
  top: 75% !important;
}

button {
  cursor: pointer;
  text-align: center;
}

.mdc-touch-target-wrapper {
  display: inline-block !important;
  margin: 0 10px !important;
  height: 40px !important;
}

form .field_container {
  display: block;
}
form .button_container {
  display: block;
  text-align: center;
}

.table_container {
  margin: 10px 20px;
}
.table_container .mdc-data-table {
  width: 100%;
}
.table_container .mdc-data-table .mdc-data-table__table-container {
  overflow-x: revert !important;
}
.table_container .mdc-data-table .mdc-data-table__header-cell,
.table_container .mdc-data-table .mdc-data-table__cell {
  vertical-align: middle !important;
  overflow: revert !important;
}

.alert .text_wrap {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert .success {
  background-color: green;
}
.alert .error {
  background-color: red;
}
.alert button span {
  color: white;
}

.table_container .mdc-data-table {
  width: 60%;
  display: block;
  margin: auto;
}
.table_container .mdc-data-table .column_title {
  width: 10%;
}
.table_container .mdc-data-table .column_test {
  width: 30%;
}
.table_container .mdc-data-table .column_video {
  width: 20%;
}
.table_container .mdc-data-table .row .column_video {
  text-align: center;
}

video {
  width: 400px;
}

/*# sourceMappingURL=main.css.map */
