*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  user-select: auto;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}

button {
  display: block !important;
  margin: 0 10px !important;
  padding: 5px 10px !important;
  min-width: fit-content !important;
  min-height: 42px !important;
  text-align: center !important;
}
button :not(:disabled) {
  cursor: pointer !important;
}
button:disabled {
  color: #191e29 !important;
  background-color: #56698f !important;
}
button .mdc-button__label {
  display: inline-block !important;
}
button .mdc-button__label .material-icons {
  margin: 0 !important;
}

.button_primary {
  color: #ffffff !important;
  background-color: #005eb8 !important;
}
.button_primary:hover {
  background-color: #2594ff !important;
}

.button_secondary {
  color: #ffffff !important;
  background-color: #7210a8 !important;
}
.button_secondary:hover {
  background-color: #9f16e9 !important;
}

.button_ghost {
  color: #005eb8 !important;
  background-color: #ffffff !important;
  border: 1px solid !important;
}
.button_ghost:hover {
  background-color: #f0f2f6 !important;
}

.button_flat {
  color: #005eb8 !important;
  background-color: #ffffff !important;
}
.button_flat:hover {
  background-color: #f0f2f6 !important;
}

.button_danger {
  color: #ffffff !important;
  background-color: #dc003d !important;
}
.button_danger:hover {
  background-color: #ff3d72 !important;
}

.button_remove {
  color: #dc003d !important;
  cursor: pointer !important;
}

.button_container {
  display: block !important;
  text-align: center !important;
}

.field_container {
  display: block !important;
  min-width: 200px !important;
}
.field_container .field_value.mdc-select {
  display: revert !important;
}
.field_container .field_value.mdc-text-field, .field_container .field_value.mdc-select,
.field_container .field_value .mdc-select__anchor {
  margin: 5px 0 !important;
  height: 40px !important;
  text-align: left !important;
}
.field_container .field_value.mdc-text-field .mdc-notched-outline__notch, .field_container .field_value.mdc-select .mdc-notched-outline__notch,
.field_container .field_value .mdc-select__anchor .mdc-notched-outline__notch {
  width: fit-content !important;
}
.field_container .field_value.mdc-text-field .mdc-floating-label--float-above, .field_container .field_value.mdc-select .mdc-floating-label--float-above,
.field_container .field_value .mdc-select__anchor .mdc-floating-label--float-above {
  top: 75% !important;
}

.filter {
  height: 40px !important;
  display: table-header-group !important;
}
.filter .row {
  background-color: #005eb8 !important;
  color: #ffffff !important;
  word-break: break-word !important;
}
.filter .row.filter_action .button_action {
  position: absolute !important;
  top: -50px !important;
  right: 0px !important;
}
.filter .row .cell {
  vertical-align: middle !important;
  padding: 0px 10px !important;
  min-width: auto !important;
}
.filter .row .cell.field_container .field_value {
  width: unset !important;
}

.page_container {
  text-align: center;
}
.page_container > .header {
  height: 50px;
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}
.page_container > .left {
  width: 30%;
  position: relative;
  display: inline-block;
  text-align: left;
}
.page_container > .right {
  width: 70%;
  position: relative;
  display: inline-block;
  text-align: left;
}

table {
  display: table !important;
  color: #000000 !important;
  width: 100% !important;
  position: relative !important;
  border-collapse: collapse !important;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4) !important;
}
table .row_empty {
  display: table-row !important;
  width: 100% !important;
  height: 50px !important;
  position: relative !important;
}
table .row_empty .icon_progress {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  left: 50% !important;
  top: 5px !important;
}
table .row_empty .text {
  position: absolute !important;
  top: 18px !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}
table .row {
  display: table-row !important;
  width: 100% !important;
  background-color: #ffffff !important;
  word-break: break-word !important;
}
table .row:not(.row_empty):not(.not_hover):hover {
  background-color: #a6b2c9 !important;
  color: #ffffff !important;
}
table .row.even {
  background-color: #f0f2f6 !important;
}
table .row.selected_row {
  background-color: #0091da !important;
  color: #ffffff !important;
}
table .row.selected_row a {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: #ffffff !important;
}
table .row .cell {
  display: table-cell !important;
  vertical-align: middle !important;
  padding: 5px !important;
  height: 50px !important;
}
table .row .cell.center {
  text-align: center !important;
}

.view_alert {
  top: 0 !important;
  right: 0 !important;
  left: auto !important;
  bottom: auto !important;
  z-index: 1001 !important;
}
.view_alert.success .mdc-snackbar__surface {
  background-color: #e4fbdf !important;
}
.view_alert.success .mdc-snackbar__surface .mdc-snackbar__label,
.view_alert.success .mdc-snackbar__surface .mdc-snackbar__action {
  color: #1b600b !important;
}
.view_alert.error .mdc-snackbar__surface {
  background-color: #ffe5ec !important;
}
.view_alert.error .mdc-snackbar__surface .mdc-snackbar__label,
.view_alert.error .mdc-snackbar__surface .mdc-snackbar__action {
  color: #61001b !important;
}
.view_alert .mdc-snackbar__surface {
  max-height: 200px !important;
  padding: 10px 0 !important;
  border: 1px solid #a6b2c9 !important;
  flex-direction: revert !important;
  align-items: revert !important;
}
.view_alert .mdc-snackbar__surface .mdc-snackbar__label {
  padding: 8px 0 8px 10px !important;
  white-space: pre !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  text-overflow: ellipsis !important;
}
.view_alert .mdc-snackbar__surface .mdc-snackbar__actions {
  margin: 0 !important;
  vertical-align: top !important;
  display: contents !important;
  cursor: pointer !important;
}
.view_alert .mdc-snackbar__surface .mdc-snackbar__actions .mdc-snackbar__action {
  margin: 6px !important;
}

@font-face {
  font-family: "roboto-regular";
  font-weight: 100;
  font-style: normal;
  src: url("../font/roboto-regular.ttf") format("truetype"), url("../font/roboto-regular.woff") format("woff"), url("../font/roboto-regular.woff2") format("woff2");
}
body *:not(.material-icons) {
  font-family: "roboto-regular" !important;
  font-size: 14px;
}

.view_dialog .mdc-dialog__surface {
  max-width: unset !important;
}
.view_dialog .mdc-dialog__surface .mdc-dialog__title {
  font-size: 18px !important;
  font-weight: bold !important;
}
.view_dialog .mdc-dialog__surface .mdc-dialog__content {
  white-space: pre !important;
  background-color: #000000 !important;
  color: #ffffff !important;
  overflow-x: hidden !important;
}

.view_index > .left {
  margin: 10px;
  width: 55%;
}
.view_index > .left .table_data .column_id {
  width: 5%;
}
.view_index > .left .table_data .column_title {
  width: 20%;
}
.view_index > .left .table_data .column_action {
  width: 40%;
}
.view_index > .left .table_data .column_time {
  width: 25%;
}
.view_index > .left .table_data .column_status {
  width: 10%;
}
.view_index > .left .table_data thead tr th {
  text-align: center;
  vertical-align: middle;
}
.view_index > .left .table_data tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.view_index > .left .table_data tbody tr td .field_container, .view_index > .left .table_data tbody tr td button {
  display: inline-block !important;
  vertical-align: sub !important;
}
.view_index > .left .table_data tbody tr td .icon_loading {
  animation: animation_icon_loading 1s infinite;
}
.view_index > .left .table_data tbody tr td .icon_success {
  color: #33b215;
}
.view_index > .left .table_data tbody tr td .icon_fail {
  color: #dc003d;
}
.view_index > .right {
  margin: 10px;
  width: 35%;
  vertical-align: top;
}
.view_index > .right .table_client,
.view_index > .right .table_video,
.view_index > .right .table_upload {
  margin-bottom: 10px;
}
.view_index > .right .table_client thead tr th,
.view_index > .right .table_video thead tr th,
.view_index > .right .table_upload thead tr th {
  text-align: center;
  vertical-align: middle;
}
.view_index > .right .table_client tbody tr td,
.view_index > .right .table_video tbody tr td,
.view_index > .right .table_upload tbody tr td {
  text-align: left;
  vertical-align: middle;
}
.view_index > .right .table_client tbody tr td .field_container, .view_index > .right .table_client tbody tr td button,
.view_index > .right .table_video tbody tr td .field_container,
.view_index > .right .table_video tbody tr td button,
.view_index > .right .table_upload tbody tr td .field_container,
.view_index > .right .table_upload tbody tr td button {
  display: inline-block !important;
  vertical-align: sub !important;
}
.view_index > .right .table_client tbody tr td .item li,
.view_index > .right .table_video tbody tr td .item li,
.view_index > .right .table_upload tbody tr td .item li {
  margin: 5px 0;
}
.view_index > .right .table_client tbody tr td .item li i,
.view_index > .right .table_client tbody tr td .item li p,
.view_index > .right .table_video tbody tr td .item li i,
.view_index > .right .table_video tbody tr td .item li p,
.view_index > .right .table_upload tbody tr td .item li i,
.view_index > .right .table_upload tbody tr td .item li p {
  display: inline-block;
  vertical-align: middle;
}
.view_index > .right .table_video .instruction {
  list-style: disc;
  margin-left: 20px;
}
.view_index > .right .table_video .item li i,
.view_index > .right .table_video .item li p {
  cursor: pointer;
}
.view_index > .right .table_video .video_name {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.view_index > .right .table_video video {
  display: block;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid;
}
.view_index > .right .table_upload .input_upload {
  display: none;
}
@media screen and (max-width: 1039px) {
  .view_index .left,
  .view_index .right {
    display: block !important;
    margin: 10px auto !important;
    width: 90% !important;
  }
  .view_index .left .field_container,
  .view_index .right .field_container {
    min-width: auto !important;
  }
}
@keyframes animation_icon_loading {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

.view_loader {
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.view_loader .container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  text-align: center;
  margin: 0 auto;
}
.view_loader .container .square {
  display: inline-block;
  width: 24px;
  height: 32px;
  border: 2px solid #00498f;
  margin: 1px;
  animation: animation_loader 1s infinite;
}
.view_loader .container .text {
  margin-top: 10px;
  color: #00498f;
  font-size: 30px;
}
@keyframes animation_loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(0.5, 0.5);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
