@use "../color.scss" as color;
@use "../media.scss" as media;

.view_chat {
    position: fixed;
    background-color: color.$blackRgb;
    z-index: media.$zIndexChat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin: 0 auto;
        border: 1px solid;
        padding: 10px;
        background-color: color.$white;

        .header {
            text-align: right;
            margin-bottom: 10px;

            i {
                cursor: pointer !important;
            }
        }

        .message_received_container {
            overflow-y: auto;
            width: 95%;
            height: 200px;
            background-color: color.$grey1400;
            margin: 10px auto;
            color: color.$white;
            text-align: left;
            padding: 10px;
            white-space: pre;

            .time, .text {
                display: block;
            }

            .time {
                margin-bottom: 5px;
            }

            .text {
                margin-bottom: 15px;
            }
        }

        .field_container {
            margin: 10px 0;
        }

        .mdc-touch-target-wrapper {
            display: inline-block !important;
        }
    }
}
