.view_dialog {
    .mdc-dialog__surface {
        max-width: unset !important;

        .mdc-dialog__title {
            font-size: $fontSizeNormal !important;
            font-weight: bold !important;
        }

        .mdc-dialog__content {
            padding-top: 20px !important;
            white-space: pre !important;
            background-color: $black !important;
            color: $white !important;
            overflow-x: hidden !important;
        }
    }
}
