@use "../color.scss" as color;

.view_dialog {
    .mdc-dialog__surface {
        max-width: unset !important;

        .mdc-dialog__title {
            font-size: 18px !important;
            font-weight: bold !important;
        }

        .mdc-dialog__content {
            white-space: pre !important;
            background-color: color.$black !important;
            color: color.$white !important;
            overflow-x: hidden !important;
        }
    }
}
