@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

.view_dialog {
    position: fixed !important;
    background-color: color.$blackRgba !important;
    z-index: parameter.$zIndexChat !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;

    .cls_dialog_surface {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        z-index: parameter.$zIndexDialog !important;
        box-shadow: color.$boxShadow !important;
        max-width: unset !important;
        background-color: color.$white !important;
        width: 50% !important;

        .cls_dialog_title {
            font-size: 18px !important;
            font-weight: bold !important;
            padding: 10px !important;
        }

        .cls_dialog_content {
            white-space: pre !important;
            background-color: color.$black !important;
            color: color.$white !important;
            overflow-x: hidden !important;
            padding: 10px !important;
            overflow: auto !important;
            height: 250px !important;
        }

        .cls_dialog_action {
            padding: 10px !important;

            .cls_button {
                display: inline-block !important;
            }
        }
    }
}
