.view_index {
    text-align: center;

    .icon_action {
        display: none;
    }

    .left {
        width: 100%;

        .table_list {
            width: 50% !important;
            display: inline-block !important;
            vertical-align: top;

            .column_id {
                width: 1%;
            }
            .column_title {
                width: 19%;
            }
            .column_action {
                width: 30%;
            }

            tbody {
                .column_action {
                    text-align: center !important;
                }
            }
        }

        .table_side {
            display: inline-block !important;

            tbody {
                td {
                    text-align: center !important;

                    video {
                        width: 400px;
                        height: 200px;
                        display: block;
                        margin: 10px auto;
                    }
                }
            }
        }

        @media screen and (max-width: $widthMobile) {
            .table_list {
                width: revert !important;
            }

            .table_side {
                display: block !important;
            }
        }
    }

    .right {
        width: 0;
    }
}
