@use "../color.scss" as color;
@use "../media.scss" as media;

.view_index {
    & > .header {
        height: 0 !important;
    }

    & > .left {
        margin: 10px;
        width: 55%;

        .table_data {
            .column_id {
                width: 5%;
            }
            .column_title {
                width: 25%;
            }
            .column_action {
                width: 30%;
            }
            .column_time {
                width: 20%;
            }
            .column_status {
                width: 10%;
            }

            thead {
                tr {
                    th {
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        text-align: center;
                        vertical-align: middle;

                        &.column_title {
                            text-align: left;

                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 200px;
                            }
                        }

                        .field_container,
                        button {
                            display: inline-block !important;
                            vertical-align: sub !important;
                        }

                        .icon_loading {
                            animation: animation_icon_loading 1s infinite;
                        }

                        .icon_success {
                            color: color.$green;
                        }

                        .icon_fail {
                            color: color.$red;
                        }

                        .field_container {
                            .mdc-select {
                                width: 180px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    & > .right {
        margin: 10px;
        width: 35%;
        vertical-align: top;

        .table_client,
        .table_video,
        .table_upload {
            margin-bottom: 10px;

            thead {
                tr {
                    th {
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        text-align: left;
                        vertical-align: middle;

                        .item {
                            li {
                                i,
                                p {
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            }
                        }

                        .field_container,
                        button {
                            display: inline-block !important;
                            vertical-align: sub !important;
                        }
                    }
                }
            }
        }

        .table_client {
            .item {
                li {
                    .clientId_container {
                        display: inline-block;
                        vertical-align: sub;

                        p:not(.exclude) {
                            cursor: pointer;
                        }
                    }

                    .mdc-button {
                        min-width: 0px !important;
                        min-height: 0px !important;
                        width: 38px !important;
                        height: 30px !important;
                    }
                }
            }
        }

        .table_video {
            .instruction {
                list-style: auto;
                margin: 0 0 10px 20px;
            }

            .item {
                li {
                    i,
                    p {
                        cursor: pointer;
                    }
                }
            }

            .name {
                text-align: center;
                margin-top: 10px;
                font-weight: bold;
            }

            video {
                display: block;
                width: 400px;
                margin: 10px auto;
                text-align: center;
                border: 1px solid;
            }
        }

        .table_upload {
            .instruction {
                list-style: disc;
                margin: 0 0 10px 20px;
            }

            .name {
                text-align: center;
                margin-top: 10px;
                font-weight: bold;
            }

            .button_container {
                margin-top: 10px;
            }

            .input_upload {
                display: none;
            }
        }
    }

    @media screen and (max-width: media.$widthMobile) {
        .left,
        .right {
            display: block !important;
            margin: 10px auto !important;
            width: 90% !important;

            .field_container {
                min-width: auto !important;
            }
        }
    }

    @keyframes animation_icon_loading {
        0% {
            transform: rotate(360deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(0);
        }
    }
}
