@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

.view_index {
    text-align: center !important;

    .table_data {
        .column_id {
            width: 5% !important;
        }
        .column_title {
            width: 25% !important;
        }
        .column_action {
            width: 30% !important;
        }
        .column_time {
            width: 20% !important;
        }
        .column_status {
            width: 10% !important;
        }

        .filter {
            .row {
                .cell {
                    text-align: center !important;
                }
            }
        }

        tbody {
            .row {
                .cell {
                    text-align: center !important;

                    .field_container,
                    .cls_button {
                        display: inline-block !important;
                        vertical-align: middle !important;
                    }
                }
            }
        }
    }

    .table_client,
    .table_video,
    .table_upload {
        margin-bottom: 10px !important;

        .filter {
            .row {
                .cell {
                    text-align: center !important;
                }
            }
        }

        tbody {
            .row {
                .cell {
                    text-align: left !important;

                    .item {
                        margin: 10px 0 !important;

                        li {
                            i,
                            p {
                                display: inline-block !important;
                                vertical-align: middle !important;
                            }
                        }
                    }

                    .field_container {
                        .field_value,
                        .cls_button {
                            display: inline-block !important;
                        }
                    }
                }
            }
        }
    }

    .table_client {
        .item {
            li {
                .clientId_container {
                    display: inline-block !important;
                    vertical-align: middle !important;

                    p:not(.exclude) {
                        cursor: pointer !important;
                    }
                }

                .cls_button {
                    display: inline-block !important;
                }
            }
        }
    }

    .table_video {
        .field_container {
            text-align: center !important;

            .field_value {
                display: inline-block !important;
            }
        }

        .item {
            li {
                i,
                p {
                    cursor: pointer !important;
                }
            }
        }

        .name {
            text-align: center !important;
            margin-top: 10px !important;
            font-weight: bold !important;
        }

        video {
            display: block !important;
            width: 400px !important;
            margin: 10px auto !important;
            text-align: center !important;
            border: 1px solid !important;
        }
    }

    .table_upload {
        .name {
            text-align: center !important;
            margin-top: 10px !important;
            font-weight: bold !important;
        }

        .input_upload {
            display: none !important;
        }
    }

    .instruction {
        list-style: disc !important;
        margin: 10px 0 10px 20px !important;
    }

    .button_container {
        margin: 10px !important;
        text-align: center !important;

        .cls_button {
            display: inline-block !important;
        }
    }

    .icon_loading {
        animation: animation_loading 1s infinite !important;
    }

    .icon_success {
        color: color.$green !important;
    }

    .icon_fail {
        color: color.$red !important;
    }

    @media screen and (max-width: parameter.$screenMobile) {
        .left,
        .right {
            display: block !important;
            margin: 10px auto !important;
            width: 100% !important;

            .field_container {
                min-width: auto !important;
            }
        }
    }

    @keyframes animation_loading {
        0% {
            transform: rotate(360deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(0);
        }
    }
}
