@use "../setting/color.scss" as color;

#app:has(.view_not_found) {
    > div {
        height: 100% !important;
        > div {
            height: 100% !important;
        }
    }
}

.view_not_found {
    width: 50% !important;
    margin: auto !important;

    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    width: 100% !important;
    text-align: center !important;

    color: color.$grey800 !important;

    p {
        font-size: 56px !important;
    }
}
