@font-face {
    font-family: "roboto-regular" !important;
    font-weight: 100 !important;
    font-style: normal !important;
    src:
        url("../font/roboto-regular.ttf") format("truetype"),
        url("../font/roboto-regular.woff") format("woff"),
        url("../font/roboto-regular.woff2") format("woff2") !important;
}

body {
    & *:not(.material-icons) {
        font-family: "roboto-regular" !important;
        font-size: 15px !important;
    }
}
