proxy=http://165.225.110.10:80
http-proxy=http://165.225.110.10:80
https-proxy=http://165.225.110.10:80
registry=https://registry.npmjs.org/
strict-ssl=true
cafile=/usr/local/share/ca-certificates/ZscalerRootCa.pem
