<div class="view_index">
    <div class="left">
        <table class="table_data">
            <thead class="filter">
                <tr className="row filter_action"></tr>
                <tr class="row not_hover">
                    <th class="cell column_id">
                        Id
                    </th>
                    <th class="cell column_title">
                        Filename
                    </th>
                    <th class="cell column_action">
                        Action
                    </th>
                    <th class="cell column_time">
                        Time
                    </th>
                    <th class="cell column_status">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for index, specFile in specFileList %}
                    <tr class="row {{ cycle(['even', ''], loop.index0) }}"
                        data-index="{{ index }}">
                        <td class="cell column_id">
                            <p>
                                {{ index + 1 }}
                            </p>
                        </td>
                        <td class="cell column_title">
                            <p>
                                <span class="name">{{ specFile }}</span>
                            </p>
                        </td>
                        <td class="cell column_action">
                            <div class="field_container">
                                <div class="mdc-select mdc-select--outlined field_value select_browser">
                                    <div class="mdc-select__anchor">
                                        <span class="mdc-notched-outline">
                                            <span class="mdc-notched-outline__leading">

                                            </span>
                                            <span class="mdc-notched-outline__notch">
                                                <span class="mdc-floating-label">
                                                    Browser
                                                </span>
                                            </span>
                                            <span class="mdc-notched-outline__trailing">

                                            </span>
                                        </span>
                                        <span class="mdc-select__selected-text-container">
                                            <span class="mdc-select__selected-text">

                                            </span>
                                        </span>
                                        <span class="mdc-select__dropdown-icon">
                                            <svg class="mdc-select__dropdown-icon-graphic"
                                                viewBox="7 10 10 5"
                                                focusable="false">
                                                <polygon class="mdc-select__dropdown-icon-inactive"
                                                    stroke="none"
                                                    fill-rule="evenodd"
                                                    points="7 10 12 15 17 10"></polygon>
                                                <polygon class="mdc-select__dropdown-icon-active"
                                                    stroke="none"
                                                    fill-rule="evenodd"
                                                    points="7 15 12 10 17 15"></polygon>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                        <ul class="mdc-deprecated-list"
                                            role="listbox">
                                            <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected"
                                                aria-selected="true"
                                                data-value=""
                                                role="option">
                                                <span class="mdc-deprecated-list-item__ripple">

                                                </span>
                                            </li>
                                            <li class="mdc-deprecated-list-item"
                                                aria-selected="false"
                                                data-value="desktop_chrome"
                                                role="option">
                                                <span class="mdc-deprecated-list-item__ripple">

                                                </span>
                                                <span class="mdc-deprecated-list-item__text">
                                                    Desktop - Chrome
                                                </span>
                                            </li>
                                            <li class="mdc-deprecated-list-item"
                                                aria-selected="false"
                                                data-value="desktop_edge"
                                                role="option">
                                                <span class="mdc-deprecated-list-item__ripple">

                                                </span>
                                                <span class="mdc-deprecated-list-item__text">
                                                    Desktop - Edge
                                                </span>
                                            </li>
                                            <li class="mdc-deprecated-list-item"
                                                aria-selected="false"
                                                data-value="desktop_firefox"
                                                role="option">
                                                <span class="mdc-deprecated-list-item__ripple">

                                                </span>
                                                <span class="mdc-deprecated-list-item__text">
                                                    Desktop - Firefox
                                                </span>
                                            </li>
                                            <li class="mdc-deprecated-list-item"
                                                aria-selected="false"
                                                data-value="desktop_safari"
                                                role="option">
                                                <span class="mdc-deprecated-list-item__ripple">

                                                </span>
                                                <span class="mdc-deprecated-list-item__text">
                                                    Desktop - Safari
                                                </span>
                                            </li>
                                            <li class="mdc-deprecated-list-item"
                                                aria-selected="false"
                                                data-value="mobile_android"
                                                role="option">
                                                <span class="mdc-deprecated-list-item__ripple">

                                                </span>
                                                <span class="mdc-deprecated-list-item__text">
                                                    Mobile - Android
                                                </span>
                                            </li>
                                            <li class="mdc-deprecated-list-item"
                                                aria-selected="false"
                                                data-value="mobile_ios"
                                                role="option">
                                                <span class="mdc-deprecated-list-item__ripple">

                                                </span>
                                                <span class="mdc-deprecated-list-item__text">
                                                    Mobile - Ios
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-touch-target-wrapper">
                                <button class="mdc-button mdc-button--raised mdc-button--leading button_primary button_execute">
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">
                                        <i class="mdc-button__icon material-icons"
                                            aria-hidden="true">
                                            start
                                        </i>
                                    </span>
                                </button>
                            </div>
                        </td>
                        <td class="cell column_time">
                            <p class="time"></p>
                        </td>
                        <td class="cell column_status">
                            <i class="mdc-button__icon material-icons icon_loading"
                                aria-hidden="true">
                                cached
                            </i>
                            <button class="mdc-button mdc-button--raised mdc-button--leading button_flat button_log">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">
                                    <i class="mdc-button__icon material-icons icon_success"
                                        aria-hidden="true">
                                        done
                                    </i>
                                    <i class="mdc-button__icon material-icons icon_fail"
                                        aria-hidden="true">
                                        priority_high
                                    </i>
                                </span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="right">
        <table class="table_client">
            <tbody>
                <tr class="row not_hover">
                    <td class="cell">
                        <p>
                            Client connected:
                        </p>
                        <ul class="item"></ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table_video">
            <tbody>
                <tr class="row not_hover">
                    <td class="cell">
                        <p>
                            Video:<br /><br />
                            Will be avaliable after the execution test.<br />Write
                            the "Filename", present in the list, inside the
                            input and click on the button.<br />Click on the
                            generated list item for load the specific video.
                        </p>
                        <div class="field_container">
                            <label class="mdc-text-field mdc-text-field--outlined field_value input_video">
                                <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading">

                                    </span>
                                    <span class="mdc-notched-outline__notch">
                                        <span class="mdc-floating-label">
                                            Test name
                                        </span>
                                    </span>
                                    <span class="mdc-notched-outline__trailing">

                                    </span>
                                </span>
                                <input type="text"
                                    class="mdc-text-field__input" />
                            </label>
                        </div>
                        <div class="mdc-touch-target-wrapper">
                            <button class="mdc-button mdc-button--raised mdc-button--leading button_primary button_load">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">
                                    <i class="mdc-button__icon material-icons"
                                        aria-hidden="true">
                                        movie
                                    </i> Load
                                </span>
                            </button>
                        </div>
                        <ul class="item"></ul>
                        <video controls class="video"></video>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table_upload">
            <tbody>
                <tr class="row not_hover">
                    <td class="cell">
                        <p>
                            Upload:<br /><br />
                            This is a temporary file and will be delete on deploy
                            phase.<br />If you need a stable file you need
                            create a PR.
                        </p>
                        <div class="field_container">
                            <button class="mdc-button mdc-button--raised mdc-button--leading button_primary button_input_upload_fake">
                                Choose file
                            </button>
                            <input class="input_upload" type="file" value="" />
                        </div>
                        <div class="mdc-touch-target-wrapper">
                            <button class="mdc-button mdc-button--raised mdc-button--leading button_primary button_upload">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">
                                    <i class="mdc-button__icon material-icons"
                                        aria-hidden="true">
                                        upload
                                    </i> Upload
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
