<aside class="view_loader">
    <div class="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <p class="text">
            Loading...
        </p>
    </div>
</aside>
