<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/image/logo.ico" />
    <link rel="stylesheet" href="/library/mdc.min.css" />
    <link rel="stylesheet" href="/library/mdc_icon_family.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <title>
        Ms automate test
    </title>
</head>

<body>
    {% include 'loader.twig' %} {% include 'alert.twig' %} {% include 'dialog.twig' %}
    <div class="page_container">
        <div class="header"></div>
        <div class="left"></div>
        <div class="right">{% include 'index.twig' %}</div>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>
