.alert {
    .text_wrap {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button {
        span {
            color: $white;
        }
    }

    &.success {
        .mdc-snackbar__surface {
            background-color: $green !important;
        }
    }

    &.error {
        .mdc-snackbar__surface {
            background-color: $red !important;
        }
    }
}
