@use "setting/color.scss" as color;

button {
    display: block !important;
    margin: 0 10px !important;
    padding: 5px 10px !important;
    min-width: fit-content !important;
    text-align: center !important;

    & :not(:disabled) {
        cursor: pointer !important;
    }

    &:disabled {
        color: color.$grey1400 !important;
        background-color: color.$buttonDisabled !important;
    }

    .button_label {
        display: inline-block !important;
    }

    .icon_progress {
        width: 18px !important;
        height: 18px !important;
        color: color.$white !important;
        top: 3px !important;
        position: relative !important;
        vertical-align: initial !important;
    }
}

.button_primary {
    color: color.$white !important;
    background-color: color.$buttonPrimary !important;
    box-shadow: color.$boxShadow !important;

    &:hover {
        background-color: color.$buttonPrimaryHover !important;
    }
}

.button_secondary {
    color: color.$white !important;
    background-color: color.$buttonSecondary !important;
    box-shadow: color.$boxShadow !important;

    &:hover {
        background-color: color.$buttonSecondaryHover !important;
    }
}

.button_flat {
    color: color.$buttonFlat !important;
    background-color: color.$white !important;
    border: 1px solid !important;

    &:hover {
        background-color: color.$buttonFlatHover !important;
    }
}

.button_danger {
    color: color.$white !important;
    background-color: color.$buttonDanger !important;
    box-shadow: color.$boxShadow !important;

    &:hover {
        background-color: color.$buttonDangerHover !important;
    }
}

.button_remove {
    color: color.$red !important;
    cursor: pointer !important;
    box-shadow: color.$boxShadow !important;
}

.button_container {
    display: block !important;
    text-align: center !important;
}

.button_icon {
    color: color.$red !important;
    cursor: pointer !important;
    filter: drop-shadow(1px 0px 6px color.$blackRgba) !important;
}
