// Primary
$blue: #00338d;
$blueMedium: #005eb8;
$blueLight: #0091da;
$blueVeryLight: #98c6ea;

// Secondary
$violet: #483698;
$purple: #470a68;
$purpleLight: #6d2077;
$purpleVeryLight: #c5a6c9;

// Tertiary
$green: #43b02a;
$greenDark: #009a44;

// Generic
$white: #ffffff;
$black: #000000;
$blackRgb: rgba(0, 0, 0, 0.2);
$grey: #999999;
$greyLight: #f7f7f7;
$greyVeryLight: #f0f0f0;
$greyDark: #666666;
$greyVeryDark: #333333;
$red: #bc204b;
$yellow: #eaaa00;

// Button
$buttonPrimary: $blue;
$buttonPrimaryHover: $blueLight;
$buttonSecondary: $green;
$buttonSecondaryHover: $blueLight;
$buttonDisabled: $grey;
