@use "setting/color.scss" as color;

.cls_select {
    width: fit-content !important;
    padding: 5px !important;
    border: 1px solid color.$grey600 !important;
    border-radius: 4px !important;
    background-color: color.$white !important;
    color: color.$black !important;
    text-align: left !important;
    display: block !important;
}

.cls_input_text {
    width: 200px !important;
    padding: 5px !important;
    border: 1px solid color.$grey600 !important;
    border-radius: 4px !important;
    background-color: color.$white !important;
    color: color.$black !important;
    text-align: left !important;
    display: block !important;
}

.cls_textarea {
    width: 200px !important;
    padding: 5px !important;
    border: 1px solid color.$grey600 !important;
    border-radius: 4px !important;
    background-color: color.$white !important;
    color: color.$black !important;
    text-align: left !important;
    display: block !important;
}

.field_container {
    display: block !important;

    .field_value {
        &.cls_select,
        &.cls_input_text {
            margin: 0 10px !important;
        }
    }
}
