.cls_icon {
    font-family: "material-icon-rounded" !important;
    position: relative !important;
    text-transform: none !important;
    font-feature-settings: "liga" !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px !important;
    height: 20px !important;
}
