.page_container {
    & > .header {
        height: 50px;
        position: relative;
        margin-bottom: 10px;
    }

    & > .left {
        width: 30%;
        position: relative;
        display: inline-block;
    }

    & > .right {
        width: 70%;
        position: relative;
        display: inline-block;
    }
}
