@use "setting/color.scss" as color;
@use "setting/parameter.scss" as parameter;

html {
    background-color: color.$backgroundLight;
}

.page_container {
    text-align: left !important;
    text-wrap-style: balance !important;

    & > .header {
        height: calc(
            parameter.$heightHeader + parameter.$heightBreadcrumb
        ) !important;
        z-index: parameter.$zIndexHeader !important;
        position: relative !important;
    }

    & > .left {
        width: 30% !important;
        position: relative !important;
        display: inline-block !important;
        vertical-align: top !important;
    }

    & > .right {
        width: 70% !important;
        position: relative !important;
        display: inline-block !important;
        vertical-align: top !important;
    }

    & > .footer {
        height: 40px !important;
        position: relative !important;
        margin-top: 10px !important;
    }
}
