.table_container {
    margin: 10px 20px;

    .mdc-data-table {
        width: 100%;

        .mdc-data-table__table-container {
            overflow-x: revert !important;
        }

        .mdc-data-table__header-cell,
        .mdc-data-table__cell {
            vertical-align: middle !important;
            overflow: revert !important;
        }
    }
}
