@use "setting/color.scss" as color;
@use "setting/parameter.scss" as parameter;

table {
    display: table !important;
    color: color.$black !important;
    width: 100% !important;
    position: relative !important;
    border-collapse: collapse !important;
    box-shadow: color.$boxShadow !important;
    border: 1px solid color.$grey600 !important;

    .row_empty {
        display: table-row !important;
        width: 100% !important;
        height: 50px !important;
        position: relative !important;

        .icon_progress {
            width: 18px !important;
            height: 18px !important;
            position: absolute !important;
            left: 50% !important;
            top: 36px !important;
        }

        .text {
            position: absolute !important;
            top: 18px !important;
            left: 0 !important;
            right: 0 !important;
            text-align: center !important;
        }
    }

    .row {
        display: table-row !important;
        width: 100% !important;
        background-color: color.$white !important;
        word-break: break-word !important;

        &:not(.row_empty):not(.not_hover):hover {
            background-color: color.$grey1000 !important;
            color: color.$white !important;
        }

        &.even {
            background-color: color.$grey300 !important;
        }

        &.selected_row {
            background-color: color.$blueLight !important;
            color: color.$white !important;

            a {
                cursor: pointer !important;
                text-decoration: underline !important;
                color: color.$white !important;
            }
        }

        .cell {
            display: table-cell !important;
            vertical-align: middle !important;
            padding: 0 10px !important;
            height: 50px !important;

            &.center {
                text-align: center !important;
            }

            &.button {
                button:not(:first-child) {
                    margin-top: 5px !important;
                }
            }
        }
    }

    .empty_state {
        height: auto !important;
        text-align: center !important;
        padding-top: 10px !important;
        color: color.$grey800 !important;

        p {
            font-size: parameter.$fontSizeNormal !important;
            padding: 0 !important;
        }

        .icon {
            width: 50px !important;
            height: 50px !important;
            color: color.$grey500 !important;
        }
    }
}
